@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Medium.ttf);
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Light.ttf);
    font-style: light;
    font-weight: 300;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-SemiBold.ttf);
    font-style: semibold;
    font-weight: 600;
}

.container {
    background-color: #EEEEEE;

}

header {
    background-image: url('images/header.png');
    background-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 46px;

}

.icon>img {
width: 21px;
height: 24px;
margin-top: 16px;
margin-right: 15px;
float:left;
/*margin-left: 863px;*/
}


.menu {
    display: flex;
    float: right;
}

.menu>ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    /* height: 100%; */
}

.menu>ul>li {
    margin-right: 32px;
    text-decoration: none;
    color: #3FD28B;
    height: 100%;
    padding-bottom: 10px;
    
}

.menu>ul>li :hover {
    border-bottom: 4px solid white;
    color: white;
}

.menu-icon {
    margin-right: 32px;
    padding: 0px;
}






.navbar {
    display:flex;
}

.filter,.name {
    display: flex;
    flex-direction: row;
    font-family: 'Quicksand';
    
}

.num {
    text-align: left;
    font-size: 12px ;
    /*font: normal normal medium 12px/14px Quicksand;*/
letter-spacing: 0px;
color: #686868;
opacity: 1;
}

.name>select {
    font-family: 'Quicksand' ;
    font-size: 16px;
    ;

}

.grid {
    display: grid;
    /*grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;*/
    grid-gap: 25px;
}

.items {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}
.lesson {
    /*margin-left: 14px;*/
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    /*height: 43px;*/
}
.fav {
    width: 20px;
height: 24px;
/*margin-left:165px;*/
margin-top: 10px;
float: right;
margin-right: 16px;

}

.subject {
    display: flex;
    font-family: 'Quicksand';
    font-size: 12px;
    flex-direction: row;
    width: 100%;
    font-weight: 200;
    margin: 0px;
    align-items: center;
    font-weight: medium;
    
}
.parts{
    display:flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    font-family: 'Quicksand';

}

.prof{
    margin-top: 16px;
    width: auto;
}
 .prof>select {
     font-family: 'Quicksand';
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 1px solid #747474;;
 }

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Quicksand';
    font-size: 12px;
}

.insights {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 11px;
}


.info {
    display: flex;
    font-family: 'Quicksand';
    margin-left: 447px;
    font-size: 14px;
    line-height: 18px;
    color: #1f7a54;
    margin-top: 40px;
    gap: 8px;
    margin-bottom: 16px;
}


.fttext {
    display: flex;
	flex-direction: row;
    font-family: 'Quicksand';
}



.footer {
    display: flex;
    flex-direction: row;
    background-color: #E0E1E1;
}





.navbar {
    display: flex;
    background-color: #8DDC97;
    height: 64px;
    justify-content: space-around;
}

.course,.class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid #000000;
    font-family: 'Quicksand';
}






.card {
    width: 476px;
height: 246px;
background-color: white;
margin-left: 24px;
margin-top: 24px;
display: flex;
flex-direction: row;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

.dash {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 25px;
    row-gap: 25px;

 }
 

.cardImg {
    width: 132px;
height: 157px;
border-radius: 2px;
margin-top: 24px;
margin-left: 24px;
margin-right: 16px;
}
    

@media screen and (max-width: 1000px) {
    .hamburger-icon {
        display: block;
    }

    .header>ul {
        display: none;
    }

    .margin {
        margin-left: auto;
    }

    .dash {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 246px;
        width: 571px;
        font-family: 'Quicksand';
        padding: 24px 16px 9px 24px;
        background-color: white;
    }
}


@media screen and (max-width: 700px) {
    .main {
        width: 635px;
    }
}

/*IGNORE */
/*Início das configurações da Navigation com dispositivos < 768px*/
/*@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
        
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #f1c40f;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: 20px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
        
    }
    .menu-icon i {
        font-size: 1.7em;
    }
} */