@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Medium.ttf);
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-Light.ttf);
    font-style: light;
    font-weight: 300;
}

@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand-SemiBold.ttf);
    font-style: semibold;
    font-weight: 600;
}

.container {
    background-color: #EEEEEE;

}

header {
    background-image: url('images/header.png');
    background-color: black;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 46px;
    font-family: 'Quicksand';

}

/*.icon {
    width: 21px;
height: 24px;
margin-top: 16px;
margin-right: 15px;
display: flex;
}*/

.icon>img {
width: 21px;
height: 24px;
margin-top: 25px;
margin-right: 15px;
float:left;
/*margin-left: 863px;*/
}

.person>img {
    width: 21px;
height: 24px;
margin-left: 16px;
margin-right: 15px;
}

.menu {
    display: flex;
    float: right;
    margin-left: auto ;
}

.menu>ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    /* height: 100%; */
}

.menu>ul>li {
    margin-right: 32px;
    text-decoration: none;
    color: #3FD28B;
    height: 100%;
    padding-bottom: 10px;
    
}

.menu>ul>li :hover {
    border-bottom: 4px solid white;
    color: white;
}

.hamburger-menu,.announcements,.alerts,.person {
    /*margin-top: 16px;*/
    margin-right: 32px;
    padding: 0px;
    float: right;
    background-color: none;
    overflow: left;
    font-family: 'Quicksand';
}

/*dropbtns styling*/
#alerts,#announcements,#person{
    background-color: transparent;
    border:none;
}

/*hamburger button */
.dropbtn4,.dropbtn1,.dropbtn2 {
    background-color: transparent;
    
    /*color: white;
    padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn4:hover, .dropbtn4:focus,.dropbtn1:hover, .dropbtn1:focus,.dropbtn2:hover, .dropbtn2:focus {
    background-color: none;
    
  }
  
  .dropdown {
    position: center;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: white;
    width: 315px;
    /*min-width: 160px;
    overflow: visible;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 315px;
    right: 0;
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    width: 315px;
    /*min-width: 160px;
    overflow: visible;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 315px;
    right: 0;
  }
  .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: white;
    /*min-width: 160px;
    overflow: visible;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 280px;
    right: 0;
  }
  
  
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content4 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}





.navbar {
    display:flex;
}

.filter,.name {
    display: flex;
    flex-direction: row;
    font-family: 'Quicksand';
    
}

.name {
    float: right;
    margin-left: auto;
}

.num {
    text-align: left;
    font-size: 12px ;
    /*font: normal normal medium 12px/14px Quicksand;*/
letter-spacing: 0px;
color: #686868;
opacity: 1;
}

.name>select {
    font-family: 'Quicksand' ;
    font-size: 16px;
    ;

}

.grid {
    display: grid;
    /*grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;*/
    grid-gap: 25px;
}

.items {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.lesson {
    /*margin-left: 14px;*/
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    /*height: 43px;*/
}
.fav {
    width: 20px;
height: 24px;
/*margin-left:165px;*/
margin-top: 10px;
float: right;
/*margin-right: 16px;
margin-left: 20px;*/

}

.subject {
    display: flex;
    font-family: 'Quicksand';
    font-size: 12px;
    flex-direction: row;
    width: 100%;
    font-weight: 200;
    margin: 0px;
    align-items: center;
    line-height: 0px;
    margin-top: 0px;
    /*font-weight: medium;*/
}
.parts{
    display:flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    font-family: 'Quicksand';

}

.prof{
    margin-top: 16px;
    width: auto;
}
 .prof>select {
     font-family: 'Quicksand';
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 1px solid #747474;;
 }

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Quicksand';
    font-size: 12px;
}

.insights {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: auto;*/
    margin-bottom: 11px;
    width:20px;
    height: 20px;
    margin-top: auto;
}
.insights>img {
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-around;
}

.info {
    display: flex;
    font-family: 'Quicksand';
    margin-left: 447px;
    font-size: 14px;
    line-height: 18px;
    color: #1f7a54;
    margin-top: 40px;
    gap: 8px;
    margin-bottom: 16px;
}


.fttext {
    display: flex;
	flex-direction: row;
    font-family: 'Quicksand';
}



.footer {
    display: flex;
    flex-direction: row;
    background-color: #E0E1E1;
}





.navbar {
    display: flex;
    background-color: #8DDC97;
    height: 64px;
    justify-content: space-around;
}

.course,.class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid #000000;
    font-family: 'Quicksand';
}






.card,.card1 {
    width: 476px;
height: 246px;
background-color: white;
margin-left: 24px;
margin-top: 24px;
display: flex;
flex-direction: row;
}

.card:hover,.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

.dash {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 25px;
    row-gap: 25px;

 }
 

.cardImg {
    width: 132px;
height: 157px;
border-radius: 2px;
margin-top: 24px;
margin-left: 24px;
margin-right: 0px;
}




/*dropdown elements*/



@media screen and (max-width: 1000px) {
    .hamburger-icon {
        display: block;
    }

    .header>ul {
        display: none;
    }

    .margin {
        margin-left: auto;
    }

    .dash {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card,.card1 {
        height: 246px;
        width: 571px;
        font-family: 'Quicksand';
        padding: 24px 16px 9px 24px;
        background-color: white;
    }
}


@media screen and (max-width: 700px) {
    .main {
        width: 635px;
    }
}

